<!-- <h3>Signup</h3>
{{#if addNewActivity}}
<div>
<form>
  <div class="form-group">
    <label for="category">Category: </label>
    {{input value=new-category id="new-category" class="form-control"}}
  </div>

  <button {{action 'addNewFood'}}>Add New Food</button>
</form>

{{else}}
  <button {{action 'deleteFoodFormShow'}}>Add Activity</button>
{{/if}} -->
