<h4>
  Current User:
  {{#each currentUser.users as |user|}}
  {{#link-to 'user' user.id}}{{user.username}}{{/link-to}}
  {{/each}}
  Current Date:
  {{#each currentDate.date as |date|}}
  {{#link-to 'day' date.id}}{{date.title}}{{/link-to}}
  {{/each}}
</h4>
