<select onchange={{action "selectFood" value="target.value"}}>
  {{#each foods as |foodChoice|}}
    <option value={{foodChoice}} selected={{eq food foodChoice}}>{{foodChoice}}</option>
  {{/each}}
</select>
