@import "ember-searchable-select/style";

body {
  font: 1.2em, impact, apple gothic;
	background-color: silver;
	padding-bottom: 100px;
}

.EMOJI {
	font-size: 36px;
}
.clearfix {
  clear:both;
}
.week {
  width: 9px;
  float: left;
}
.a {
	width: 8px;
	height: 8px;
	background: rgba(255, 0, 0, .9);
  margin-bottom: 1px;
}
.b{
	width: 8px;
	height: 8px;
	background: rgba(255, 0, 0, .7);
  margin-bottom: 1px;
}
.c {
	width: 8px;
	height: 8px;
	background: rgba(255, 0, 0, .5);
  margin-bottom: 1px;
}
.d {
	width: 8px;
	height: 8px;
	background: rgba(255, 0, 0, .3);
  margin-bottom: 1px;
}
.f {
	width: 8px;
	height: 8px;
	background: rgba(255, 0, 0, .1);
  margin-bottom: 1px;
}

.profile-image {
	width: 25%;
	border-radius: 50%;
}

.foodBackground{
background-image: url(https://static.pexels.com/photos/139751/pexels-photo-139751.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: -100px;
height: 50vh;
width: 120vw;
padding-top: 50px;
}

.usersBackground{
background-image: url(https://static.pexels.com/photos/90802/pexels-photo-90802.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: 0px;
height: 50vh;
width: 120vw;
padding-top: 50px;
}

.mealsBackground{
background-image: url(https://static.pexels.com/photos/64208/pexels-photo-64208.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: -75px;
height: 50vh;
width: 120vw;
}

.activitiesBackground{
background-image: url(https://static.pexels.com/photos/45056/pexels-photo-45056.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: -100px;
height: 50vh;
width: 120vw;
padding-top: 50px;
}

.form-control {
  width: 300px;
}

#overlay {
  padding: 6% 5%;
}

#logo {
	max-width: 75%;
	max-height: 75%;
	display: block;
	margin: 0 30%;
  color: white;
	background-color: inherit;
	shadow: 10px 10px white;
}
