@import "ember-searchable-select/style";

body {
  font: 1.5em, impact, apple gothic;
	background-color: white;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

h3 {
  font-size: 40pt;
  margin-top: 3%;
  margin-left: 40%;
  color: #404040
}

li {
  list-style: none;
}

.EMOJI {
	font-size: 36px;
}
.clearfix {
  clear:both;
}
.week {
  width: 17px;
  float: left;
}
.a {
	width: 16px;
	height: 16px;
	background: #1D6422;
  margin-bottom: 1px;
}
.b{
	width: 16px;
	height: 16px;
	background: #419B3D;
  margin-bottom: 1px;
}
.c {
	width: 16px;
	height: 16px;
	background: #8CC665;
  margin-bottom: 1px;
}
.d {
	width: 16px;
	height: 16px;
	background: #D6E685;
  margin-bottom: 1px;
}
.f {
	width: 16px;
	height: 16px;
	background: #DDDDDD;
  margin-bottom: 1px;
}

.profile-image {
	width: 25%;
	border-radius: 50%;
}

.foodBackground{
background-image: url(https://static.pexels.com/photos/139751/pexels-photo-139751.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: 0px;
height: 50vh;
width: 120vw;
padding-top: 50px;
border-bottom: 10px solid #404040;
}

.usersBackground{
background-image: url(https://static.pexels.com/photos/90802/pexels-photo-90802.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: 0px;
height: 50vh;
width: 120vw;
padding-top: 50px;
border-bottom: 10px solid #404040;
}

.mealsBackground{
background-image: url(https://static.pexels.com/photos/64208/pexels-photo-64208.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: 0px;
height: 50vh;
width: 120vw;
border-bottom: 10px solid #404040;
}

.activitiesBackground{
background-image: url(https://static.pexels.com/photos/45056/pexels-photo-45056.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: 0px;
height: 50vh;
width: 120vw;
padding-top: 50px;
border-bottom: 10px solid #404040;
}

.form-control {
  width: 300px;
}

.footer {
  width:120vw;
  height: 100px;
  background-color: #404040;
}

.activityDisplay {
  // display: block;
  margin-left: 25%;

}


#overlay {
  padding: 6% 5%;
  }

#logo {
	max-width: 75%;
	max-height: 75%;
	display: block;
	margin: 0 30%;
  color: white;
	background-color: inherit;
	shadow: 10px 10px white;
}

#right-col {
  margin-top: 20px;
}

#time-input {
  width: 420px;
}

#food-display {
  font-size: 1.5em;
}
