<h1>LOGO PLACEHOLDER</h1>
<div class="activitiesBackground">
<div class="container"  id="overlay">
<h3>Activities</h3>
{{new-activity saveActivity="saveActivity"}}


{{#each model as |activity|}}
  {{list-activity activity=activity}}
{{/each}}
</div>
</div>
