<div class="activitiesBackground">

</div>


<h1>{{model.description}} {{model.goalamount}} {{model.units}}</h1>

{{find-activity model=model updateActivity='updateActivity' deleteActivity='deleteActivity'}}
