<div class="container">
  <h1>FitHub</h1>
  <nav>
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'users'}}Users{{/link-to}} |
    {{#link-to 'foods'}}Foods{{/link-to}} |
    {{#link-to 'meals'}}Meals{{/link-to}} |
    {{#link-to 'activities'}}Activities{{/link-to}} 
</nav>

{{outlet}}
</div>
