<div class="mealsBackground">
  <br>
  <br>
  <img id="logo" src="../img/fithubLogo.png" alt="logo" />
</div>
<div class="routeHeadingsDaily">
<h3>Daily Logs</h3>
</div>
<div class="container" id="overlay">
  <div class="row" id="dayLogs">
    <div class="col-sm-5">
      <button {{action 'linktoFood' }} class="btn btn-success form-control">Log Food</button>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
      <button {{action 'linktoActivities' }} class="btn btn-success form-control">Log Activity</button>
    </div>
  </div>
</div>
