
<div class="foodBackground">
  <img id="logo" src="../img/fithubLogoWhite.png" alt="logo" />
</div>
<div class="container"  id="overlay">
<h3>Foods</h3>
{{!-- {{assign-emoji food}} --}}
{{new-food food=model addNewFood="addNewFood"}}

{{#each model as |food|}}
  {{list-food food=food}}
{{/each}}

</div>
