<h1>LOGO PLACEHOLDER</h1>
<div class="foodBackground">
<div class="container"  id="overlay">
<h3>Foods</h3>
{{!-- {{assign-emoji food}} --}}
{{new-food food=model addNewFood="addNewFood"}}

{{#each model as |food|}}
  {{list-food food=food}}
{{/each}}

</div>
</div>
