<h3>Home Page</h3>

needs:
{{new-user saveUser="saveUser"}}
{{find-user userLogIn="userLogIn"}}
***OR***
<li>{{#link-to 'activities'}}Log Activity{{/link-to}}</li>
<li>{{#link-to 'meals'}}Log Meal{{/link-to}}</li>
<li>{{#link-to 'goals'}}Edit Goals{{/link-to}}</li>
<li>{{#link-to 'stats'}}View Stats<{{/link-to}}/li>
