<div class="mealsBackground">
	<br>
	<br>
	<img id="logo" src="../img/fithubLogo.png" alt="logo" />
</div>
<div class="container" id="overlay">


<h2>{{model.description}}</h2>


{{find-meal model=model}}
<button {{action 'deleteMeal' model}}>Delete Meal</button>
</div>
