<h1>LOGO PLACEHOLDER</h1>
<div class="mealsBackground">
<div class="container"  id="overlay">
<h3>Meals</h3>

{{new-meal saveMeal='saveMeal'}}

{{#each model as |meal|}}
  {{list-meal meal=meal}}
{{/each}}
</div>
</div>
