<div class="usersBackground">
  <img id="logo" src="../img/fithubLogo.png" alt="logo" />
</div>
<div class="container"  id="overlay">
<h3>Users</h3>
{{new-user saveUser='saveUser'}}

{{#each model as |user|}}
  {{list-user user=user}}
{{/each}}
</div>
